<div id="dropin-wrapper">
  <div id="checkout-message"></div>
  <div id="dropin-container"></div>
  <button id="submit-button">Submit payment</button>
  <button id="refund-button">Refund payment</button>
  <button id="sub-button">Create Subscription</button>
</div>
<script>
  var button = document.querySelector('#submit-button');
  var client_token;

  $.ajax({
    type: 'GET',
    url: '/token'
  }).done(function (result) {
    client_token = result;
    braintree.dropin.create({
      authorization: client_token,
      container: '#dropin-container'
    }, function (createErr, instance) {
      button.addEventListener('click', function () {
        //requests payment method from BT server. BT responds w/ payload. Nonce is held in returned payload
        instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
          // posts nonce to checkout
          $.ajax({
            type: 'POST',
            url: '/checkout',
            data: { 'paymentMethodNonce': payload.nonce }
          }).done(function (result) {
            // Tear down the Drop-in UI
            instance.teardown(function (teardownErr) {
              if (teardownErr) {
                console.error('Could not tear down Drop-in UI!');
              } else {
                console.info('Drop-in UI has been torn down!');
                // Remove the 'Submit payment' button
                $('#submit-button').remove();
              }
            });
            //if transaction from checkout.js is successful
            if (result.success) {
              var resultTransID = result.transaction.id;
              var customerID = result.transaction.customer.id;
              var paymentToken = result.transaction.creditCard.token;

              $('#checkout-message').html('<h1>Success</h1><h2>Transaction ID</h2><p>Transaction ID:' + ' ' + resultTransID + '</p></br><h2>Payment Vaulted</h2><p>Customer ID:' + ' ' + customerID + '</p>');
              $('#refund-button').show();
              $('#sub-button').show();
              //refund
              $('#refund-button').on('click', function () {
                //refund ajax post
                $.ajax({
                  type: 'POST',
                  url: '/refund',
                  data: { 'refundID': resultTransID }
                }).done(function (result) {
                  console.log(result);
                  if (result.success) {
                    console.log('payment token ' + paymentToken);
                    $('#checkout-message').html('<h1>Refund Success</h1><h2>Transaction ID</h2><p>Transaction ID:' + ' ' + resultTransID + ' has been refunded</p>');
                  }
                  else {
                    $('#checkout-message').html('<h1>Refund Failed</h1>');
                  }
                });
              });
              //recurring payment/subscription
              $('#sub-button').on('click', function () {
                //subscription ajax post
                $.ajax({
                  type: 'POST',
                  url: '/recurringPayment',
                  data: { 'token': paymentToken }
                }).done(function (result) {
                  console.log(result);
                  if (result.success) {
                    $('#checkout-message').html('<h1>Subscription Success</h1><h2>Customer ID</h2><p>Payment Token:' + ' ' + paymentToken + ' has been subscribed</p>');
                  }
                  else {
                    $('#checkout-message').html('<h1>Subscription Failed</h1><p>Please allow enough time for the payment to be vaulted before subscribing</p>');
                  }
                });
              });
            } else {
              console.log(result);
              $('#checkout-message').html('<h1>Error</h1><p>Check your console.</p>');
            }
          });
        });
      });
    });
  });

</script>